[package]
name = "platerflow"
version = "0.0.9"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[profile.dev]
opt-level = 2

[dependencies]
subprocess = "0.2.9"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0.137"
toml = "0.5.9"
exitcode = "1.1.2"
glob = "0.3.0"
num_cpus = "1.13.1"
reqwest = { version = "0.11.10", features = ["blocking", "multipart"] }
#kiss3d =  { git = "https://github.com/platerflow/kiss3d" }
#nalgebra = "^0"
#stl_io = "0.6"
bevy_stl = "^0"
bevy = { version = "0.7.0", default-features = false, features = [
    "render",
] }
anyhow = "1.0"
thiserror = "1.0"
stl_io = "0.5.2"

[dev-dependencies]
bevy = { version = "0.7.0", default-features = false, features = [
    "bevy_winit",
    "x11",
] }